body {
    margin: 0 5%;
    font-family: 'Rakkas';
}


#mobile {
    display: none;
}

        @media screen and (max-width: 500px) {
            #desktop {
                display: none;
            }
            #mobile {
                display: block;
            }
        }



.header {
    align-items: center;
    overflow: hidden;
    margin: 0 2%;
    padding: 5px;
    border-bottom: black 2px solid;
}

.header-right {
    float: right;
    margin: 0;
    padding: 0;
}


.header-right a:hover {
    color: darkorange;
}


.header-right a {
    float: left;
    color: black;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    font-size: small;
}


.header a.logo {
    float: left;
    margin: 0;
    padding: 0;
    font-size: x-large;
}


.header a.active {
    color: darkcyan;
}


            @media screen and (max-width: 500px) {
                .header-right a {
                    float: none;
                    text-align: center;
                }
                .header-right {
                    display: block;
                    float: none;
                    text-align: center;
                    margin-top: 5%;
                    margin-bottom: 2%;
                }
                .header a.logo {
                    display: block;
                    float: unset;
                    text-align: center;
                }
            }



.content {
    margin: 5% 20%;
    color: black;
    border: darkcyan 5px solid;
    padding: 10px;
}


.content img {
    float: left;
    margin: 10px;
    border: darkorange 2px solid;
    height: 25%; 
    width: 25%;
}


.content p {
    font-family: 'Roboto Slab';
    font-size: medium;
    text-align: justify;
    margin: 10px;
    line-height: 2;
    text-indent: 10%;
}            


            @media screen and (max-width: 540px) {
                .content {
                    margin: 5%;
                }
                .content img {
                    width: 40%;
                }
            }




.links {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 0 15%;
}


.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.link h1 {
    margin: 0 10px;
}


.link p {
    font-size: small;
    font-family: 'Rakkas';
}


            @media screen and (max-width: 540px) {
                .links {
                    display: block;
                    align-content: center;
                    margin: 10% 0;
                }
                .link {
                    margin: 10% 0;
                }
            }



.copyright {
    text-align: center;
    font-family: 'Geneva';
    font-size: small;
    margin: 40px 0;
}

.copyright .logo:hover {
    text-decoration: underline;
}

.copyright::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-bottom: 5px;
    border-top: darkcyan 2px solid;
}


            @media screen and (max-width: 540px) {
                .copyright::before {
                    width: 35%;
                }
            }